{% extends "tweet_base.html" %}
{% load static %}

{% block title %}
Tweets
{% endblock %}

{% block content %}
<div class='flex flex-col items-start gap-4 mx-20 my-4'>
    <a href="{% url 'create_tweet' %}">
        <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 my-2 rounded-full">Create Tweet</button>
    </a>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 gap-y-4 w-full'> 
        {% for tweet in tweets %}
            <div class="rounded-lg overflow-hidden shadow-lg bg-black min-w-0 md:min-w-64 py-2">
                <a href='/tweet/profile/{{ tweet.user.username }}/'>
                    <div class="flex items-center mb-4 px-4">
                        {% if tweet.user.tweetuserdata.profile_Image %}
                            <img class="w-8 h-8 rounded-full mr-3" src="{{ tweet.user.tweetuserdata.profile_Image.url }}" alt="Profile Picture">
                        {% else %}
                            <img class="w-8 h-8 rounded-full mr-3" src="{% static 'default_profile_image.svg' %}" alt="Default Profile Picture">
                        {% endif %}
                        <div class="text-gray-400 text-sm capitalize">{{ tweet.user.username }}</div>
                    </div>
                </a>
                <div class="px-6 py-4">
                    <p class="text-white font-bold text-lg">{{ tweet.text }}</p>
                </div>
                {% if tweet.photo %}
                    <a href="{{ tweet.photo.url }}" target="_blank">
                        <img class="object-contain h-48 w-full rounded-lg p-2" src="{{ tweet.photo.url }}" alt="Tweet Image">
                    </a>
                {% endif %}
                <div class="px-4 pb-2 text-gray-500 text-xs text-left">
                    {{ tweet.updated_at }}
                </div>
                {% if tweet.user == request.user %}
                    <div class='flex gap-3 px-4 pb-4 mt-2'> 
                        <a href="{% url 'edit_tweet' tweet.id %}">
                            <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-sm text-xl">Edit</button>
                        </a>
                        <a href="{% url 'delete_tweet' tweet.id %}">
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-sm text-xl">Delete</button>
                        </a>
                    </div>
                {% endif %}
            </div>   
        {% endfor %}
    </div>
</div>
{% endblock %}
